*{
    background-color: #E8E2E2;
}

body{
    font-size: 200%;
}


h1{
    font-size: 150%;
    text-align: center;
    color: #5D3891;
}

div{
    font-size: 110%;
    text-align: left;
    color: black;
}
img{
    display: block;
    margin-left: 0%;
    margin-right: auto;
    width: 2rem;
}